@use "normalize";
@use "fonts";
@use "variables" as *;

.container {
  padding-inline: $container-padding-x;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  @media screen and (max-width: 620px) {
    row-gap: 3rem;
  }
}

.container-flex-row {
  display: flex;
  gap: 9rem;
}

#app {
  width: 100vw;
  height: 100svh;
  background-color: $bg-color;
  font-family: "Inter";
  position: relative;

  .header {
    width: 100%;
    padding-block: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    position: relative;

    &-burger {
      display: none;
      position: relative;
      width: 2.5rem;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2.5rem;
        aspect-ratio: 1;
        display: inline-block;
        background: url(../../../assets/icons/burger.svg) center/contain
          no-repeat;
      }

      @media screen and (max-width: 760px) {
        display: block;
      }
    }

    &-modal {
      flex: 0 1 100%;
      @media screen and (max-width: 760px) {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        z-index: -100;
        transition: 200ms;
        opacity: 0;
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 760px) {
        background-color: white;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        padding: 3rem;
        padding-top: 0;
        align-items: flex-start;
        gap: 3rem;
      }
    }

    .close-nav {
      display: none;
      align-self: flex-end;
      width: 3rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 1px $light-black solid;
      position: relative;
      transform: translate(50%, 50%);

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2.5rem;
        aspect-ratio: 1;
        display: inline-block;
        background: url(../../../assets/icons/cancel.svg) center/contain
          no-repeat;
      }

      @media screen and (max-width: 760px) {
        display: block;
      }
    }

    &-logo {
      width: 13rem;
      height: auto;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13rem;
        aspect-ratio: 1;
        display: inline-block;
        background: url(../../../assets/images/logo.png) center/contain
          no-repeat;

        @media screen and (max-width: 1024px) {
          width: 10rem;
        }
      }
    }

    .header-nav-list {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: uppercase;

      @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 760px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
      }

      @media screen and (max-width: 620px) {
        font-size: 1.8rem;
      }
      .header-nav-link:hover {
        color: $light-black;
      }
    }

    .header-contacts {
      display: flex;
      flex-direction: column;
      font-size: 1.6rem;
      font-weight: 500;

      @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
      }

      .header-contacts-text {
        color: $light-black;
        font-size: 1.4rem;
        font-weight: 400;

        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }
    }

    .header-actions {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2.5rem;

      @media screen and (max-width: 760px) {
        flex-direction: column;
      }

      .header-actions-button {
        width: 2.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          aspect-ratio: 1;
          display: inline-block;

          // @media screen and (max-width: 1024px) {
          //   width: 10rem;
          // }
        }

        @media screen and (max-width: 760px) {
          display: flex;
          align-items: center;
          gap: 1rem;

          &::before {
            content: attr(data-title);
            margin-left: 3rem;
            font-size: 1.2rem;
            text-transform: uppercase;
          }
        }

        @media screen and (max-width: 620px) {
          &::before {
            font-size: 1.6rem;
          }
        }
      }

      .search::after {
        background: url(../../../assets/icons/search.svg) center/contain
          no-repeat;
      }
      .profile::after {
        background: url(../../../assets/icons/profile.svg) center/contain
          no-repeat;
      }
      .favorite::after {
        background: url(../../../assets/icons/heart.svg) center/contain
          no-repeat;
      }
    }
    .cart {
      width: 3rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: $primary-green;
    }
  }

  .hero {
    width: 100%;
    min-height: 56rem;
    padding-block: 3rem;
    background: url("../../../assets/images/background.png") center/cover
      no-repeat;
    text-shadow: -5px 0px 5px rgba(31, 32, 32, 0.6);

    @media screen and (max-width: 620px) {
      background: none;
      min-height: fit-content;
      padding: 0;
      text-shadow: none;
    }

    .breadcrumbs {
      color: $light-white;
      text-transform: uppercase;
      letter-spacing: 3px;

      @media screen and (max-width: 620px) {
        color: $light-black;
      }
    }

    .hero-title {
      font-size: 7.2rem;
      font-weight: 400;
      display: none;

      @media screen and (max-width: 620px) {
        display: inline;
      }
    }

    .swiper {
      width: 100%;
      height: 30rem;
      @media screen and (max-width: 620px) {
        display: none;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .swiper-container {
          max-width: 470px;

          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;

          .swiper-title {
            font-size: 7.2rem;
            font-weight: 400;
          }
          .swiper-description {
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        color: white;
      }

      .swiper-pagination-bullet {
        opacity: 1;
        border: white solid 1px;
        background-color: transparent;
      }
      .swiper-pagination-bullet-active {
        background-color: white;
      }
    }
  }

  .catalog {
    padding-block: 5rem;

    .filters-modal {
      @media screen and (max-width: 620px) {
        position: fixed;
        display: flex;
        flex-direction: column-reverse;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        z-index: -100;
        transition: 200ms;
        opacity: 0;
      }
    }

    .filters-wrapper {
      @media screen and (max-width: 620px) {
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 7rem 2rem;
        background-color: white;
        width: 100%;
        height: fit-content;
      }
    }

    .close-filters {
      display: none;
      align-self: flex-end;
      width: 3rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 1px $light-black solid;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2.5rem;
        aspect-ratio: 1;
        display: inline-block;
        background: url(../../../assets/icons/cancel.svg) center/contain
          no-repeat;
      }

      @media screen and (max-width: 620px) {
        display: block;
      }
    }

    .catalog-filters {
      display: flex;
      flex-direction: column;
      max-width: 150px;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 400;
      gap: 1rem;

      @media screen and (max-width: 620px) {
        font-size: 1.6rem;
      }

      .catalog-filters-item {
        display: inline-flex;
        align-items: center;
        gap: 7px;

        .catalog-filters-input {
          appearance: none;
          position: relative;
          width: 3.6rem;
          height: 2.2rem;

          @media screen and (max-width: 620px) {
            width: 5rem;
            height: 4rem;
          }
        }

        .catalog-filters-input::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 3.6rem;
          height: 2.2rem;
          transition: 200ms;
          overflow: hidden;
          background: url("../../../assets/icons/tumbler-off.svg")
            center/contain no-repeat;

          @media screen and (max-width: 620px) {
            width: 5rem;
            height: 4rem;
          }
        }

        .catalog-filters-input:checked::after {
          background: url("../../../assets/icons/tumbler-on.svg") center/contain
            no-repeat;
        }
      }
    }

    .catalog-products {
      flex: 1;

      .catalog-products-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        .open-filters {
          display: none;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: 500;
          border: none;
          padding: 1rem;

          @media screen and (max-width: 620px) {
            display: block;
          }
        }

        .catalog-quantity,
        .catalog-sort {
          text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: 500;
          border: none;
          padding: 1rem;
        }

        .catalog-sort {
          @media screen and (max-width: 620px) {
            font-size: 1.5rem;
          }
        }

        .catalog-quantity {
          @media screen and (max-width: 620px) {
            display: none;
          }
        }

        .catalog-sort::picker {
          color: transparent;
        }

        .catalog-sort > option {
          padding: 1rem;

          &:checked {
            background-color: $primary-green;
          }

          &:focus,
          &:active {
            background-color: transparent;
          }
        }
      }

      .catalog-products-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;

        .catalog-products-card {
          padding-block: 2rem;
          flex: 0 1 100%;
          max-width: 25rem;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          font-size: 1.6rem;
          border-bottom: 1px solid $light-grey;

          @media screen and (max-width: 760px) {
            max-width: 18rem;
          }

          h3 {
            font-weight: 400;
          }

          img {
            width: 25rem;
            aspect-ratio: 1;
            object-fit: cover;

            @media screen and (max-width: 760px) {
              width: 18rem;
            }
          }

          &-button {
            background-color: $primary-green;
            width: 8rem;
            height: 3rem;
            border-radius: 8px;
            position: relative;
            transition: 200ms;
            @media screen and (min-width: 1050px) {
              opacity: 0;
            }

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 2rem;
              aspect-ratio: 1;
              display: inline-block;
              background: url(../../../assets/icons/plus.svg) center/contain
                no-repeat;
            }
          }

          &-wrapper {
            min-height: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
          }
        }

        .catalog-products-card:hover .catalog-products-card-button {
          opacity: 1;
        }
      }
    }
  }

  .modal {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: -100;
    transition: 200ms;
    opacity: 0;
    .cart {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: space-between;
      width: 35%;
      height: 100%;
      padding: 4rem;
      background-color: white;
      overflow-y: auto;

      @media screen and (max-width: 1024px) {
        width: 60%;
      }

      @media screen and (max-width: 620px) {
        width: 80%;
      }
      @media screen and (max-width: 620px) {
        padding: 2rem;
      }

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;

        &-title {
          font-size: 3rem;
          font-weight: 500;
        }

        &-button {
          width: 5rem;
          aspect-ratio: 1;
          border-radius: 50%;
          border: 1px $light-black solid;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2.5rem;
            aspect-ratio: 1;
            display: inline-block;
            background: url(../../../assets/icons/cancel.svg) center/contain
              no-repeat;
          }
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
      }

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 2rem;
        border-top: 1px $light-grey solid;

        & > div {
          display: flex;
          gap: 1rem;
          align-items: center;
        }

        &-image {
          width: 9rem;
          aspect-ratio: 1;
          object-fit: cover;

          @media screen and (max-width: 1280px) {
            width: 6rem;
          }
        }

        &-wrapper {
          display: flex;
          flex-direction: column;
          font-size: 1.6rem;
        }

        &-price {
          font-weight: 600;
        }

        &-quantity {
          font-size: 1.6rem;
          display: flex;
          align-items: center;
          gap: 1rem;

          button {
            background-color: rgba(242, 242, 242);
            padding: 0.3rem 1rem;
            border-radius: 4px;
          }
        }

        &-delete {
          width: 2rem;
          aspect-ratio: 1;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2rem;
            aspect-ratio: 1;
            display: inline-block;
            background: url(../../../assets/icons/cancel.svg) center/contain
              no-repeat;
          }
        }
      }

      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;
      }

      &-length {
        font-size: 1.6rem;
      }

      &-clear {
        font-size: 1.4rem;
        color: $light-black;
        text-transform: uppercase;
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-wrapper {
          display: flex;
          flex-direction: column;
          font-size: 1.6rem;
        }
      }

      &-total {
        font-size: 3rem;
        font-weight: 500;
      }

      &-order {
        font-size: 1.2rem;
        font-weight: 500;
        background-color: $primary-green;
        padding: 2rem 7rem;
        border-radius: 4px;
        text-transform: uppercase;

        @media screen and (max-width: 620px) {
          padding: 1.5rem 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}
