.modal#cart-modal
    .cart 
        div
            .cart-header 
                h2.cart-header-title Корзина
                button.cart-header-button#close-cart
            .cart-container#cart
        div 
            .cart-footer#cart-footer