.catalog-products
    .catalog-products-header
        button.open-filters#open-filters Фильтры
        span.catalog-quantity#quantity 0 товаров
        select.catalog-sort#catalog-sort
            option(value="expensive") Сначала дорогие
            option(value="cheap") Сначала дешевые
            option(value="popular") Сначала популярные
            option(value="recent") Сначала новые
    .catalog-products-list#catalog-products-list