.swiper
    .swiper-wrapper
        .swiper-slide 
            .swiper-container 
                h2.swiper-title Краски 
                p.swiper-description Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
        .swiper-slide
            .swiper-container
                h2.swiper-title Обои
                p.swiper-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas fugiat debitis vitae. Sed, rerum illo maxime natus quis facere? Voluptatibus expedita tempora dicta debitis voluptate recusandae aliquam? Dolor, aperiam possimus?

    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

